<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
	</head>
	<body>
		<header >
			<a>
				<h1>Login Page</h1>
			</a>
		</header>
		<br>
		<form method="POST" action="/login">
			<input type="hidden" name="redirect" value='<%= redirect %>' />
			<div>

					<div>
						<label for="title">Username: </label>
					</div>
					<div>
						<input type="text" name="username" value='<%= username %>' />
					</div>
			
			</div>
			<br>
			<div>
					<div>
						<label for="title">Password: </label>
					</div>
					<div>
						<input type="text" name="password"/>
					</div>

			</div>
			<br>
			<div>
					<div>
						<button type="submit">Login</button>
					</div>
			</div>
		</form>
		
	</body>
</html>